@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
image {
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .btn-circle{
    background-color: rgb(255 255 255 / 10%);
    overflow: hidden;
    color: #93c5fd; 
  
    width: 232px;
    height: 232px;
    border-radius: 50%;
    position: relative;
  }
  .btn-hover {
    background-color: transparent;
    overflow: hidden;
    color: #0B0D17;
  
    width: 232px;
    height: 232px;
    border-radius: 50%;
    position: relative;
  }
  @media screen and (min-width: 768px) {
    .btn-hover, .btn-circle {
      /* position: absolute;
      top: 44%; */
    
      width: 400px;
      height: 400px;
    }
  }
}
